/* Transitions
----------------------------------------------------------------------------------------------------*/

.all-transition, body, a {
    @include transition(all, .4s);
}
.fade-in-load {
    opacity: 0;
    @include transition(opacity, .6s);
}
.accent {
	@include transition(opacity, .6s);
}
.fade-in-out-scroll, .fade-in-out-scroll-simple, .fade-in-out-scroll-left, .fade-in-out-scroll-right {
    opacity: 0;
    position: relative; 
}
header {
	@include transition(left, .6s);
}

/* Body
----------------------------------------------------------------------------------------------------*/
body, html, .home-article, .home-content {
	height: 100%;
}
body {
	background-color: $color-light-grey;
}
body.blue {
	background-color: $color-blue;
}
body.orange {
	background-color: $color-orange;
}
body.red {
	background-color: $color-bg-red;
}
body.yellow {
	background-color: $color-yellow;
}

/* Header
----------------------------------------------------------------------------------------------------*/

header {
    position: fixed;
    width: 14%;
    top: rem(40px);
    left: 0;
    padding: 0 0 0 rem(22px);
    z-index: 10;
    @media #{$tablet-portrait-point} {
	    width: auto;
	    background: $color-white;
	    top: 0;
	    height: 100%;
	    overflow: auto;
	    left: -100%;
	    @media #{$mobile-landscape-wide-point} {
		    width: 100%;
	    }
    }
    .header-inner {
	    @media #{$tablet-portrait-point} {
		    width: rem(240px);
		    margin: rem(115px) rem(63px) 0;
	    }
	    @media #{$mobile-landscape-wide-point} {
		    margin: 0;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%, -50%);
	    }
	    @media #{$mobile-height-point} {
		    top: 0;
		    transform: translate(-50%, 0);
	    }
    }
    ul {
	    list-style: none;
	    padding: 0;
	    margin: rem(58px) 0 0;
	    @media #{$tablet-portrait-point} {
	    	margin: rem(46px) 0 0 rem(5px);
	    }
	    li {
		    margin-bottom: rem(11px);
		    @media #{$tablet-portrait-point} {
			    margin-bottom: rem(33px);
		    }
	    }
    }
}
.navicon {
    display: none;
    width: 31px;
    height: 31px;
    position: fixed;
    top: rem(11px);
    left: rem(11px);
    z-index: 11;
    -moz-transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
    -webkit-transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
    transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
    @media #{$tablet-portrait-point} {
	    display: block;
    }
    div {
        height: 9px;
        width: 9px;
        float: left;
        position: absolute;
        background-color: $color-dark-grey;
    }
    .top-left {
        left: 0;
        top: 0;
    }
    .top-middle {
        top: 0;
        left: 11px;
    }
    .top-right {
        left: 22px;
        top: 0;
    }
    .middle-left {
        left: 0;
        top: 11px;
    }
    .middle-middle {
        left: 11px;
        top: 11px;
    }
    .middle-right {
        right: 0;
        top: 11px;
    }
    .bottom-left {
        left: 0;
        bottom: 0;
    }
    .bottom-middle {
        bottom: 0;
        left: 11px;
    }
    .bottom-right {
        right: 0;
        bottom: 0;
    }
}
.navicon:hover {
    div {
        background-color: $color-green;
    }
}
.menu-open {
	@media #{$mobile-landscape-wide-point} {
		overflow: hidden;
	}
	header {
		left: 0;
	}
	.navicon {
		height: 29px;
        width: 29px;
        div {
            opacity: 0;
        }
        .top-left, .top-right {
            opacity: 1;
            height: 31px;
        }
        .top-left {
            @include rotation(-45deg);
            left: 8px;
            top: -1px;
        }
        .top-right {
            @include rotation(45deg);
            left: 8px;
            top: -1px;
        }
	}
}

/* Footer
----------------------------------------------------------------------------------------------------*/

footer {
	width: 100%;
	clear: both;
}

/* Homepage
----------------------------------------------------------------------------------------------------*/

.home-section {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.middle-section {
	margin-top: 10%;
	margin-bottom: 10%;
}
.port-links {
	display: block;
	margin-bottom: 1.25em;
	span {
		display: block;
	}
	.link-title {
		margin-bottom: rem(3px);
	}
	.link-attribution {
		margin-bottom: rem(7px);
	}
}

.palm-1 {
	position: fixed;
	width: 227px;
	height: 271px;
	background: url('img/palm-1.png') no-repeat center;
	background-size: 100% auto;
    bottom: 0;
    right: -50px;
    transform: rotate(290deg);
    opacity: .1;
    z-index: -1;
}
.palm-2 {
	position: fixed;
	width: 351px;
	height: 441px;
	background: url('img/palm-2.png') no-repeat center;
	background-size: 100% auto;
    bottom: 0;
    transform: rotate(50deg);
    opacity: .1;
    left: -100px;
    z-index: -1;
}
.code-1 {
	position: fixed;
	width: 314px;
	height: 320px;
	background: url('img/code.png') no-repeat center;
	background-size: 100% auto;
    bottom: 0;
    right: -50px;
    transform: rotate(0);
    opacity: .1;
    z-index: -1;
}
.code-2 {
	position: fixed;
	width: 200px;
	height: 367px;
	background: url('img/code-2.png') no-repeat center;
	background-size: 100% auto;
    bottom: -20px;
    opacity: .1;
    left: -10px;
    z-index: -1;
}
.contact-1 {
	position: fixed;
	width: 350px;
	height: 225px;
	background: url('img/megaphone.png') no-repeat center;
	background-size: 100% auto;
    bottom: 20px;
    opacity: .1;
    right: -30px;
    z-index: -1;
       transform: rotate(-155deg);
}
.contact-2 {
	position: fixed;
	width: 350px;
	height: 350px;
	background: url('img/paper-plane.png') no-repeat center;
	background-size: 100% auto;
    bottom: 0;
    left: -50px;
    opacity: .1;
    z-index: -1;
}
.accent {
	z-index: -1;
	opacity: 0;
}

/* Blog
----------------------------------------------------------------------------------------------------*/
.blog-wrapper {
	margin-top: 2%;
}
.roll-title {
	margin: 0;
}
.roll-header {
	margin-top: rem(50px);
	margin-bottom: rem(46px);
}
.archive {
	.roll-header {
		margin-bottom: rem(80px);
	}
}
.bookmarked-posts {
	margin-bottom: rem(34px);
	.button {
		.button-inner {
			width: 60%;
			margin: 0 20%;
			@media #{$mobile-landscape-wide-point} {
				width: 70%;
				margin: 0 15%;
			}
		}
	}
}
.entry-meta {
	margin: 0 0 .4em;
	p {
		margin: 0;
	}
}
h2.screen-reader-text {
    display: none;
}
.pagination {
	margin: 0 0 2em 0;
}
.page-numbers {
	margin: 0 .25em;
}
.page-numbers.prev, .page-numbers.next {
	margin: 0 .5em;
}
.blog-roll-post {
	margin-bottom: 2.8em;
}
.searchform {
	padding: rem(40px) 13%;
	border: 1px solid $color-medium-grey;
	input[type=text]{
		width: 100%;
		padding: .5em .75em;
		margin: 0;
		outline: none;
		border: 1px solid $color-medium-grey;
		border-radius: rem(8px);
	}
}
.single-pagination {
	border-top: 1px solid $color-medium-grey;
	border-bottom: 1px solid $color-medium-grey;
	padding: 1.6em 0;
    margin-bottom: 2.5em;
	p {
		margin: 0;
	}
}

//sidebar
.sidebar {
	margin-bottom: 2em;
	h2 {
		margin: 0;
	}
	ul {
		list-style: none;
		padding: 0;
		margin: .6em 0 0 0;
		li {
			margin-bottom: rem(12px);
		}
	}
}
.widget {
	margin-bottom: 2em;
}

/* Shared
----------------------------------------------------------------------------------------------------*/

.button {
	display: block;
	text-align: center;
	margin-bottom: 1em;
	padding: rem(50px) 0;
	background: $color-white;
	border-radius: rem(8px);
	position: relative;
	outline: none;
	.button-inner {
		width: 96%;
		margin: 0 2%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
.button:hover {
	opacity: .9;
}
.fade-in-load {
	opacity: 0;
}
h1.page-title {
	margin: rem(42px) 0 0;
}
.no-mobile {
	@media #{$mobile-landscape-wide-point} {
		display: none !important;
	}
}