/* Fonts
----------------------------------------------------------------------------------------------------*/

body, input {
	font-family: $main-font;
}
.menu-title {
	font-family: $secondary-font;
}

/* Sizes
----------------------------------------------------------------------------------------------------*/

body, html {
	font-size: $font-size-base;
}
.menu-title {
    font-size: em(48px);
}
h1 {
    font-size: em(28px);
}
h2, .home-section-copy {
    font-size: em(22px);
}
h3, header a {
    font-size: em(20px);
}
.button {
	font-size: rem(20px);
}
h4, .searchform input {
    font-size: em(18px);
}
h5, .link-title, footer, .nav-links, .tag-list {
    font-size: em(16px);
}
h6, .link-description, .link-attribution, pre {
    font-size: em(12px);
}



/* Line Heights
----------------------------------------------------------------------------------------------------*/

.menu-title {
	line-height: .8125;
}
header a {
	line-height: 1;
}
.button, .link-title {
	line-height: 1.2;
}
h2 {
	line-height: 1.363636; 
}
.link-attribution, .link-description {
	line-height: 1.5;
}
body {
	line-height: 1.666;
}
.home-section-copy {
	line-height: 1.8181; 
}
.entry-meta {
	line-height: 2;
}

/* Colors
----------------------------------------------------------------------------------------------------*/

body {
	color: $color-black;
}
a {
	color: $color-green;
}
a:hover, .link-description, .current-cat a {
	color: $color-black;
}
header a {
	color: $color-black;
}
header a:hover, header a.active, header .current_page_parent a {
	color: $color-green;
}
h1, .menu-title {
	color: $color-dark-grey;
}

/* Weights
----------------------------------------------------------------------------------------------------*/

body, .searchform input {
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6, .link-title, .link-attribution, .button, .page-numbers.current, strong {
	font-weight: 500;
}

/* Styles
----------------------------------------------------------------------------------------------------*/

body {
	letter-spacing: .4px;
}
.menu-title {
	letter-spacing: -.625px;
}
a {
	text-decoration: none;
}
header, .link-title, .button, .tag-list {
	text-transform: uppercase;
}
.bookmarked-posts .button {
	text-transform: none;
}
.link-attribution, .entry-meta {
	font-style: italic;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
p {
	margin: 1.8em 0;
}