/* Wordpress Content Styles
---------------------------------------------------------------------------------------------------- */

.entry-content, .entry-summary {

    .alignleft {
    	float: left;
    	display: inline;
    	margin-right: 0.75em;
    }
    
    .alignright {
    	float: right;
    	display: inline;
    	margin-left: 0.75em;
    }
    
    .aligncenter {
    	display: block;
    	margin: 0 auto;
    }
    
    blockquote {
    	padding: 1em;
    	margin: 1em 0;
    	background: $color-blue;
    	p {
	    	margin: .5em 0;
    	}
    }
    
    blockquote p {
    	margin-bottom: 0.818em;
    }
    
    ul, ol {
	    li {
		    margin-bottom: 1em;
	    }
	    li:last-child {
		    margin-bottom: 0;
	    }
    }
    
    code {
    	font-family: consolas, 'andale mono', 'courier new', monospace;
    	font-size: 1em;
    }
    > *:first-child {
	    margin-top: 0;
    }
    pre {
		background: $color-white;
		padding: rem(15px);
		overflow: auto;
		margin: rem(25px) 0;
	}
}